{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Akreditasi Sekolah</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!--link href="assets/image/lp/favicon.ico" rel="icon"-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link
      href="{% static 'assets/lib/animate/animate.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/lib/lightbox/css/lightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{% static 'assets/css/css lp/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'assets/css/css lp/style.css' %}" rel="stylesheet" />

    <!-- Charts CSS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                  <h1 class="m-0">
                    <i class="fa fa-school"> Akreditasi Sekolah</i>
                  </h1>
                    <!-- <img src="{% static 'assets/image/lp/logo.png' %}" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ms-auto py-0">
                    <a href="{% url "index" %}" class="nav-item nav-link">Beranda</a>
                    <a href="{% url "map" %}" class="nav-item nav-link">Peta</a>
                    <a href="{% url "grafik" %}" class="nav-item nav-link">Grafik</a>
                    <a href="{% url "panduan_masyarakat" %}" class="nav-item nav-link">Panduan</a>
                  </div>
                    <a href="{% url "loginadmin" %}" class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-3">Login</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-lg-6 text-center text-lg-start">
                          <div class="card" id="chart" style="width: 210%; margin: auto;">
                            <script>
                              var options = {
                                  chart: {
                                      type: 'bar',
                                      height: 400
                                  },
                                  plotOptions: {
                                      bar: {
                                          horizontal: false,
                                          columnWidth: '55%',
                                          endingShape: 'rounded'
                                      },
                                  },
                                  series: [{
                                    name: 'Akreditasi A',
                                    data: {{ akreditasi_a | safe }},
                                    color: '#228B22' // Menambahkan warna hijau untuk Akreditasi A
                                }, {
                                    name: 'Akreditasi B',
                                    data: {{ akreditasi_b | safe }},
                                    color: '#151B8D' // Merah sebagai contoh untuk Akreditasi B
                                }, {
                                    name: 'Akreditasi C',
                                    data: {{ akreditasi_c | safe }},
                                    color: '#FBB917' // Biru sebagai contoh untuk Akreditasi C
                                }, {
                                    name: 'Tanpa Akreditasi (TT)',
                                    data: {{ akreditasi_tt | safe }},
                                    color: '#9F000F' // Kuning sebagai contoh untuk TT
                                }],
                                  xaxis: {
                                      categories: {{ tahun_list | safe }},
                                  },
                              }
                      
                              var chart = new ApexCharts(document.querySelector("#chart"), options);
                      
                              chart.render();
                          </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Full Screen Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background: rgba(29, 29, 39, 0.7);">
                    <div class="modal-header border-0">
                        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center">
                        <div class="input-group" style="max-width: 600px;">
                            <input type="text" class="form-control bg-transparent border-light p-3" placeholder="Type search keyword">
                            <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Screen Search End -->


        <!-- Footer Start -->
      <div
      class="container-fluid bg-primary text-light footer mt-5 pt-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5 px-lg-5">
        <div class="row g-10">
          <div class="container col-md-6 col-lg-3">
            <h5 class="text-white mb-4">Alamat kami</h5>
            <p>
              <i class="fa fa-map-marker-alt me-3"></i>Banda Aceh, Aceh
            </p>
            <p><i class="fa fa-phone-alt me-3"></i>+62 823-6508-9272</p>
            <p><i class="fa fa-envelope me-3"></i>Nurulizzati@dis.com</p>
          </div>
          <div class="container col-md-100 col-lg-3">
            <h5 class="text-white mb-4">Tentang Kami</h5>
            <p>
              Mengawasi serta memeriksa layanan akreditasi dengan baik dan benar
              serta membuat beberapa perubahan untuk pendidikan yang lebih terjaga
            </p>
          </div>
        </div>
      </div>
      <div class="container px-lg-5">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              &copy; <a class="border-bottom" href="#">EduAccredTrack</a>, All
              Right Reserved.

              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Designed By
              <a class="border-bottom" href="https://htmlcodex.com">NURUL IZZATI</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'assets/lib/lightbox/js/lightbox.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>